// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$secondary: #f3f0ec;
$secondary-500: #d0bda5;

body {
	color: #1a1818;
}

#top-bar {
	height: 50px;
	background: $secondary;
	display: flex;
	.contact-info {
		display: flex;
		.contact-item {
			display: flex;
			align-items: center;
			padding-left: 1em;
			padding-right: 1em;
			.fa {
				margin-right: 0.5em;
		}
	}
}
