// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$secondary: #f3f0ec;
$secondary-500: #d0bda5;

body {
	color: #1a1818;
	font-family: "Fira Sans", sans-serif;
}

h1 {
	font-family: "Crimson Text", serif;
}

#top-bar {
	height: 50px;
	background: $secondary;
	display: flex;
	.contact-info {
		display: flex;
		flex: 1;
		.contact-item {
			display: flex;
			align-items: center;
			padding-left: 1em;
			padding-right: 1em;
			.fa {
				margin-right: 0.5em;
			}
		}
		input {
			border: none;
			background-color: transparent;
			outline: none;
			padding: 0.25em 0.5em;
		}
	}
	.shipping-info {
		display: flex;
		flex: 1;
			align-items: center;
			padding-left: 1em;
			padding-right: 1em;
			.fa {
				margin-right: 0.5em;
			}
	}
	.login-register {
		display: flex;
			align-items: center;
			padding-left: 1em;
			padding-right: 1em;
			.fa {
				margin-left: 0.5em;
			}
	}
}
