// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$secondary: #f3f0ec;
$secondary-500: #d0bda5;

$xl: 1500px;
$lg: 1200px;
$md: 992px;

body {
	color: #1a1818;
	font-family: "Fira Sans", sans-serif;
}

h1 {
	font-family: "Crimson Text", serif;
}

#top-bar {
	height: 50px;
	background: $secondary;
	display: flex;
	.contact-info {
		display: flex;
		flex: 1;
		@media (max-width: $xl) {
			flex: intitial;
		}
		@media (max-width: $md) {
			flex: 1;
		}
		.contact-item {
			display: flex;
			align-items: center;
			padding-left: 1em;
			padding-right: 1em;
			.fa {
				margin-right: 0.5em;
			}
			&.phone,
			&.email {
				@media (max-width: $md) {
					display: none;
				}
			}
		}
		input {
			border: none;
			background-color: transparent;
			outline: none;
			padding: 0.25em 0.5em;
		}
	}
	.shipping-info {
		display: flex;
		flex: 1;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
		text-transform: uppercase;
		@media (max-width: $xl) {
			flex: intitial;
		}
		@media (max-width: $lg) {
			display: none;
		}
		@media (max-width: $md) {
			display: none;
		}
		.fa {
			margin-right: 0.5em;
		}
	}
	.mobile-menu {
		display: flex;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
		text-transform: uppercase;
		display: none;
		justify-content: flex-end;
		flex: 1;
		.fa {
			margin-left: 0.5em;
		}
		@media (max-width: $md) {
			display: flex;
		}
	}
	.login-register {
		display: flex;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
		text-transform: uppercase;
		@media (max-width: $xl) {
			flex: 1;
			text-align: right;
			justify-content: flex-end;
		}
		.fa {
			margin-left: 0.5em;
		}
	}
	.login-register-mobile {
		display: none;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
		text-transform: uppercase;
		@media (max-width: $md) {
			display: flex;
		}
		.fa {
			margin-right: 0.5em;
		}
	}
}

.home-banner {
	padding-top: 100px;
	max-width: 1220px;
	margin-right: auto;
	margin-left: auto;
	.logo-title {
		display: flex;
		font-size: 24px;
		align-items: center;
		.logo {
			margin-right: 30px;
		}
		.social-media {
			a {
				display: inline-block;
				padding: 5px;
				color: $secondary-500;
				text-decoration: none;
				&:hover {
					background-color: #f3f0ec;
				}
			}
		}
	}
	h2 {
		margin-top: 160px;
		font-size: 30px;
		font-weight: 200;
		color: #000;
		font-family: "Fira Sans", serif;
	}
	h3 {
		font-size: 90px;
		font-style: italic;
		margin-top: 120px;
		font-family: "Crimson Text", serif;
	}
}
